name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  assemble:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Configure signing
        env:
          STORE_FILE: depnav.jks
        run: |
          echo -n ${{ secrets.Keystore }} | base64 -d > $STORE_FILE
          echo "storeFile=$STORE_FILE" > keystore.properties
          echo "storePassword=${{ secrets.StorePassword }}" > keystore.properties
          echo "keyAlias=${{ secrets.KeyAlias }}" > keystore.properties
          echo "keyPassword=${{ secrets.KeyPassword }}" > keystore.properties

      - name: Assemble release
        run: ./gradlew assembleRelease

      - name: Upload release APK
        uses: actions/upload-artifact@v3
        with:
          name: release-apk
          path: app/build/outputs/apk/release/app-release.apk
          if-no-files-found: error
